@model ReportingTool.Web.Utils.PaginatedList<ReportingTool.Data.Models.Arrival>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Arrivals</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Exact EmployeeId <input type="text" name="EmployeeIdFilter" value="@ViewData["EmployeeIdFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" />
        </p>
        <p>
            Exact Date:<input type="datetime-local" name="WhenFilter" value="@ViewData["WhenFilter"]" />
            <input type="submit" value="Search" class="btn btn-outline-danger" />
        </p>
        <a asp-action="Index">Back to Full List</a>

    </div>
</form>

<table class="table table-striped table-bordered">
    <thead>
        <tr class="bg-primary">
            <th scope="col">
                <a class="btn btn-primary btn-lg active" role="button" asp-action="Index" asp-route-sortOrder="@ViewData["EmployeeIdParm"]">EmployeeId</a>
            </th>

            <th scope="col">
                <a class="btn btn-primary btn-lg active" role="button" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">When</a>
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmployeeId</td>
                <td>@item.When</td>
            </tr>
        }
    </tbody>
</table>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>